<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Despesas</title>
</head>
<body>
    <h1>Registrar Despesas</h1>
    <form action="/despesas" method="post">
        Descrição: <input type="text" name="descricao" required><br>
        Valor: <input type="number" step="0.01" name="valor" required><br>
        Data: <input type="date" name="data" required><br>
        <input type="submit" value="Registrar">
    </form>
    <a href="/">Voltar</a>
</body>

<h1>Despesas Registradas</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
    </tr>
    {% for despesa in despesas %}
    <tr>
        <td>{{ despesa['id'] }}</td>
        <td>{{ despesa['descricao'] }}</td>
        <td>{{ despesa['valor'] }}</td>
        <td>{{ despesa['data'] }}</td>
    </tr>
    {% endfor %}
</table>
<a href="/">Voltar</a>
</html>
