<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Vendas</title>
</head>
<body>
    <h1>Registrar Vendas</h1>
    <form action="/vendas" method="post">
        Produto: <input type="text" name="produto" required><br>
        Valor: <input type="number" step="0.01" name="valor" required><br>
        Data: <input type="date" name="data" required><br>
        <input type="submit" value="Registrar">
    </form>
    <a href="/">Voltar</a>
</body>

<h1>Vendas Registradas</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Produto</th>
        <th>Valor</th>
        <th>Data</th>
    </tr>
    {% for venda in vendas %}
    <tr>
        <td>{{ venda['id'] }}</td>
        <td>{{ venda['produto'] }}</td>
        <td>{{ venda['valor'] }}</td>
        <td>{{ venda['data'] }}</td>
    </tr>
    {% endfor %}
</table>
<a href="/">Voltar</a>
</html>
